@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'SOYOMapleBoldTTF', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #a29c9c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 1s ease-in-out;
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.left-balloon {
    background-color: #8db2ea;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 70%;
    margin-bottom: 20px;
}

.left-balloon h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.right-balloon {
    background-color: #a29c9c;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 70%;
    margin-bottom: 20px;
    align-self: flex-end;
}

.right-balloon h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.scroll-show {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}