body {
  margin: 0;
  font-family: 'SOYOMapleBoldTTF', sans-serif;
}

@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.top-bar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  padding: 0 100px; 
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  padding-right: 1%; 
}

.logo img {
  position: absolute;
  height: 90px;
  left: 1%;
  top: 2px;
}

.navigation {
  position: absolute;
  left: 45%;
  justify-content: center;
  transform: translateX(-50%);
  height:auto;
}

.navigation1 {
  position: absolute;

}

.navigation2 {
  position: relative;
  margin-left:340px;

}


.navigation a {
  color: white;
  text-decoration: none;
  margin: 0 25px;
  font-size: 1.3em; 
}

.user-info {
  position: absolute;
  right: 6%;
}

.user-info a,
.user-info span {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.3em; 
}

.user-info span {
  font-weight: bold;
  white-space: nowrap;
}

.chat-container {
  position: absolute;
  right: 30px; 
}

.chat-icon {
  cursor: pointer;
  font-size: 1.5em;
  color: #3498db;
  transition: color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3.5px;
  z-index: 1; 
}

.chat-icon:hover {
  color: #2980b9;
}

.chat-box {
  display: none;
  background-color: #f0f0f0;
  position: absolute;
  top: 60px;
  right: 0;
  border: 1px solid #ccc;
  font-size: 1.3em;
  width: 200px; 
  padding: 10px; 
  z-index: 0; 
}


  @media (max-width: 1600px) {
    .navigation {
      padding-right: 20%; 
    }
    
    .navigation1 {
      top:-10px;
      left:20px;
    }

    .navigation2 {
      margin-left:0px;
      top:25px;
    }

    .user-info{
      right:100px;
    }
  }

  @media (max-width: 1240px) {
    .user-info{
      width:auto;
      left:300px;
      font-size: 0.7em; 
    }
  }