/* body {
  margin: 0;
  font-family: 'SOYOMapleBoldTTF', sans-serif;
}

@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.top-bar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  padding: 0 100px; 
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  padding-right: 10px; 
}

.logo img {
  position: absolute;
  height: 90px;
  left: 10px;
  top: 2px;
}

.navigation {
  position: absolute;
  left: 50%;
  justify-content: center;
  transform: translateX(-50%);
}

.navigation a {
  color: white;
  text-decoration: none;
  margin: 0 25px;
  font-size: 1.3em; 
}

.user-info {
  position: absolute;
  right: 90px; 
}

.user-info a,
.user-info span {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.3em; 
}

.user-info span {
  font-weight: bold;
  white-space: nowrap;
}

.chat-container {
  position: absolute;
  right: 30px; 
}

.chat-icon {
  cursor: pointer;
  font-size: 1.5em;
  color: #3498db;
  transition: color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3.5px;
  z-index: 1; 
}

.chat-icon:hover {
  color: #2980b9;
}

.chat-box {
  display: none;
  background-color: #f0f0f0;
  position: absolute;
  top: 60px;
  right: 0;
  border: 1px solid #ccc;
  font-size: 1.3em;
  width: 200px; 
  padding: 10px; 
  z-index: 0; 
}

/* 화면 크기가 768px 이하 또는 화면 비율이 100%인 경우 추가 스타일 */
@media (max-width: 768px), (max-aspect-ratio: 100/100) {
  .top-bar {
    padding: 0 20px; /* 화면이 작아질 때 padding 조정 또는 화면 비율이 100%일 때 적용되는 스타일 */
  }

  .navigation,
  .user-info,
  .chat-container {
    position: absolute;
    left: 20px; /* 또는 여러 부분에 적용되는 스타일 */
  }
}

@media (max-width: 1400px){
  .navigation {
    left: 100px;
  }
} */
