body {
  margin: 0;
  font-family: 'SOYOMapleBoldTTF', sans-serif;
}

@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.top-bar {
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.logo img {
  height: 40px; /* Adjust the height as needed */
}

.navigation a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.user-info a,
.user-info span {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.user-info span {
  font-weight: bold;
}

.chat-container {
  display: flex;
  align-items: center;
}

.chat-icon {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: auto; /* Move the chat icon to the right */
}

.chat-box {
  display: none;
  background-color: #f0f0f0;
  padding: 10px;
  position: absolute;
  top: 60px; /* Adjust the top position as needed */
  right: 10px;
  border: 1px solid #ccc;
}
