<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/contest_list.css">
        <title>공모전 KU해</title>
    </head>

    <body>
        <%-include('top_bar.ejs')%>

        <header>
            <h1>공모전 KU해</h1>
        </header>

        <div class="search-container">
            <select id="category" name="category">
                <option value="전체">전체</option>
                <option value="공모전">공모전</option>
                <option value="스터디">스터디 모임</option>
                <option value="조별과제">조별과제</option>
                <option value="기타">기타</option>
            </select>
            <button class="search-button" onclick="searchList()">검색</button>
        </div>

        <section>
            <div class="team-card">
                <div class="profile-section">
                    <!-- <div class="profile-image">
                        <img src="/images/ku.png" alt="KU">
                    </div> 
                    사진 크롤링할거면 사용하면 됨 -->
                </div>
                <h2>공모전 제목 1</h2>
                <div class="team-info">
                    <h4>부서: 상담센터</h4>
                </div>
            </div>

            <div class="team-card">
                <h2>공모전 제목 2</h2>
                <div class="team-info">
                    <h4>부서: 상담센터</h4>
                </div>
            </div>


            <div class="team-card">
                <h2>공모전 제목 2</h2>
                <div class="team-info">
                    <h4>부서: 상담센터</h4>
                </div>
            </div>


            <div class="team-card">
                <h2>공모전 제목 2</h2>
                <div class="team-info">
                    <h4>부서: 상담센터</h4>
                </div>
            </div>


            <div class="team-card">
                <h2>공모전 제목 2</h2>
                <div class="team-info">
                    <h4>부서: 상담센터</h4>
                </div>
            </div>


            <div class="team-card">
                <h2>공모전 제목 2</h2>
                <div class="team-info">
                    <h4>부서: 상담센터</h4>
                </div>
            </div>

            <div class="pagination">
                <a href="#" onclick="changePage(1)">1</a>
                <a href="#" onclick="changePage(2)">2</a>
                <a href="#" onclick="changePage(3)">3</a>
            </div>

            <footer>
                <div class="container">
                    <p>&copy; KU-HAE</p>
                </div>
            </footer>

        </section>

    </body>

</html>
