<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/ku_add.css">
  <title>KU해 팀구하기 글쓰기</title>
</head>
<body>

<%-include('top_bar.ejs')%>

  <div class="container">
    <div class="titlecontainer">
        <h2>팀 KU하기</h2>
    </div>
    <form action="submit_post.php" method="post">
      <label for="title">제목</label>
      <input type="text" id="title" name="title" required>

      <label for="category">카테고리</label>
      <select id="category" name="category" required>
        <option value="contest">공모전</option>
        <option value="study">스터디 모임</option>
        <option value="individual_meeting">조별과제</option>
        <option value="etc">기타</option>
      </select>

      <label for="meeting_type">팀 유형</label>
      <select id="meeting_type" name="meeting_type" required>
        <option value="online">온라인</option>
        <option value="offline">오프라인</option>
      </select>

      <label for="content">내용</label>
      <textarea id="content" name="content" rows="8" required></textarea>

      <button type="submit">글쓰기</button>
    </form>
  </div>

    <footer>
    <p>© KU-HAE</p>
    </footer>

</body>
</html>
