<!-- main.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>공모전 팀 구하기</title>

    <div id="top-bar-container">
        <?php include('top_bar.html'); ?>
    </div>

</head>
<body>
    <header>
        <div class="container">
            <h1>함께 팀을 구해요!</h1>
            <p>KU해와 함께 빛날 팀을 만들어보세요</p>
        </div>
    </header>

    <div class="container">
        <div class="chat-container">
            <div class="message">
                <div class="left-balloon">
                    <h2>KU해의 장점</h2>
                    <p>팀활동에 참여하고자 하는데 팀원이 필요한가요? 함께 팀을 구하고 성공적인 프로젝트에 참여하세요. 다양한 인재들과 협력하여 놀라운 결과물을 만들어봐요.</p>
                </div>
            </div>
            
            <div class="message">
                <div class="right-balloon">
                    <h3>우리의 약속</h3>
                    <p>우리는 협력과 창의성을 중시합니다. 함께 더 나은 결과물을 만들기 위해 노력하며, 모든 팀원이 자신의 아이디어를 자유롭게 나눌 수 있는 환경을 제공합니다.</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; KU-HAE</p>
        </div>
    </footer>
</body>
</html>
