<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/notice_list.css">
</head>

<body>

  <%-include('top_bar.ejs')%>
  
  <section class="notice">
    <h2>KU해 공지사항</h2></section>

  <div class="notice-item">
    <h3>새로운 이벤트</h3>
    <p class="date">2023-11-15</p>
    <p>참여자들에게 특별한 혜택이 준비되어 있습니다. 확인해보세요!</p>
  </div>
  <div class="notice-item">
    <h3>팀 빌딩 워크샵</h3>
    <p class="date">2023-11-10</p>
    <p>다가오는 주말에 팀 빌딩 워크샵이 있습니다. 참석 부탁드립니다.</p>
  </div>
  <div class="notice-item">
    <h3>시스템 업데이트 안내</h3>
    <p class="date">2023-11-05</p>
    <p>웹사이트 시스템이 업데이트되었습니다. 불편하신 점은 고객센터로 문의해주세요.</p>
  </div>

  <div class="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
  </div>

  <footer>
    <p>© KU-HAE</p>
  </footer>
</body>

</html>
