<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/qna.css">
</head>

<body>

    <%-include('top_bar.ejs')%>
    
  <div class="section-wrapper">
    <section class="notice">
      <h2>KU해 QnA</h2>

      <a href="/write_page" class="write-button">글쓰기</a>
    </section>
  </div>

  <div class="notice-item">
    <h3>11/23 업데이트 진행 시간</h3>
    <p class="date">2023-11-15</p>
    <p>예정된 업데이트는 몇 시간 동안 진행되나요?</p>
  </div>
  <div class="notice-item">
    <h3>11/23 업데이트 진행 시간</h3>
    <p class="date">2023-11-10</p>
    <p>예정된 업데이트는 몇 시간 동안 진행되나요?</p>
  </div>
  <div class="notice-item">
    <h3>11/23 업데이트 진행 시간</h3>
    <p class="date">2023-11-05</p>
    <p>예정된 업데이트는 몇 시간 동안 진행되나요?</p>
  </div>

  <div class="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
  </div>

  <footer>
    <p>© KU-HAE</p>
  </footer>
</body>

</html>
