<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>
<body>
    <div class="container">
        <div class="left-box">
            <div class="logo">
                <h1>SIGN UP</h1>
            </div>  
            <div class="form">
                <form id="signup-form" action="/signup" method="post">
                    <label for="username">UserID</label>
                    <div id="duplicationResult">
                        <% if (typeof DupMessage !== 'undefined') { %>
                            <%= DupMessage %>
                        <% } %>
                    </div>
                    <div class="input-with-button">
                            <input type="text" id="username" name="username">
                            <button class="small-button" type="button" onclick="checkDuplicate()">Check</button>
                    </div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                    <label for="password-confirm">Confirm Password</label>
                    <input type="password" id="password-confirm" name="password-confirm">
                    <label for="email">Email</label>
                    <div class="email-input">
                        <input type="text" id="email" name="email">@kku.ac.kr
                        <button class="small-button">Send</button>
                    </div>
                    <label for="verification-code">Verification Code</label>
                    <div class="verification-input">
                        <input type="text" id="verification-code" name="verification-code">
                        <button class="small-button">Verify</button>
                    </div>
                    <input type="submit" value="Sign Up">
                </form>
            </div>
            <div class="links">
                <a href="/main" id="main">Home Page</a>
                <a href="/login" id="signUp">Sign In</a>
            </div>
        </div>
        <div class="right-box">
            <img src="images/ku.png" alt="KU">
        </div>
    </div>
</body>
<script>
    <% if (typeof message !== 'undefined') { %>
          const message = '<%= message %>';
          alert(message);
      <% } %>
      <% if (typeof isOK !== 'undefined') { %>
        <% if (isOK === 'OK') { %>
            window.location.href = '/login';
        <% } %>
      <% } %>

    function checkDuplicate() {
        const username = document.getElementById('username').value;
        const xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    const duplicationResultDiv = document.getElementById('duplicationResult');
                    // 중복 확인 결과 표시
                    if (response.isDuplicate === 0) {
                        duplicationResultDiv.className = 'not-ok-msg'; // 빨간 클래스 적용
                    } else {
                        duplicationResultDiv.className = 'ok-msg'; // 파란 클래스 적용
                    }
                    duplicationResultDiv.textContent = response.DupMessage;
                } else {
                    console.error('Error: ' + xhr.status);
                }
            }
        };
            
        xhr.open('POST', '/signup/checkdup', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send('username=' + encodeURIComponent(username));
    }

</script>
</html>
